<nav class="navbar">
    <a class="navbar-brand" href="/" style="font-size: xx-large;">LSE Cinema</a>
    <input type="checkbox" id="toggler">
    <%if((pageTitle=="Home"||pageTitle=="Order") && token){%>
        <% if(token){%>
            <center>
                <div class="user">
                    <p style="color:white ">Hi <%= user%></p>
                    <a href="/logout">Log out</a>
                </div>
            </center>
        <%}%>
    <%}%>
    <label for="toggler"><i class="ri-menu-line"></i></label>
    <div class="menu">
        <ul class="list">
            <li><a href="/"><%= nav1 %></a></li>
            <%if((pageTitle!="Home"&& pageTitle!="Order") || !token){%>
                <li><a href="<%= link %>"><%= nav2 %></a></li>
            <%}%>
        </ul>
    </div>
</nav>