<nav class="navbar">
    <a class="navbar-brand" href="/">Cinema</a>
    <input type="checkbox" id="toggler">
    <% if(token){%>
        <div class="user">
            <p>Hi <%= user_name%></p>
            <a href="/logout">Log out</a>
        </div>
    <%}%>
    <label for="toggler"><i class="ri-menu-line"></i></label>
    <div class="menu">
        <ul class="list">
            <li><a href="/">Home</a></li>
            <%if(!token){%>
                <li><a href="/render_Log_in">Log in</a></li>
            <%}%>
            <li><a href="#">stam</a></li>
        </ul>
    </div>
</nav>