<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="Project.css"> -->
    <title>Log in</title>
</head>
<body>
    <%- include('./components/navigation')%>
    <center>
        <h1 class="start" >welcome to Liel, Sahar and eliya's Cinema</h1>
        <h2 class="start">please log in to contiue</h2>
        <form action="/login" method="POST">
            <input type="text" name="user" placeholder="username" required>
            <br><br>
            <input type="password" name="pass" placeholder="password" required>
            <br>
            <input type="submit" value="login">
            <br>
        </form>
        <a href="/render_register">register</a>
        <a href="/">home</a>
    </center>    
</body>
<!-- <script src="Mproject.js"></script> -->
</html>