<%- include("./components/header.ejs") %>
 <%- include("./components/style.ejs") %>

<body>
    <%- include("./components/nav.ejs") %>
    <center>
        <h1 class="start" >welcome to Liel, Sahar and eliya's Cinema</h1>
        <h2 class="start">please log in to contiue</h2>
        <form action="/login" method="post">
            <label class="form-label">name:</label><br>
            <input type="text" name="log_username" class="Username" placeholder="YOUR NAME"><br>
            <label class="form-label">password:</label><br>
            <input type="password" name="log_password" class="Password" placeholder="YOUR Password"><br>
            <br>
        
            <button type="submit" class="btn btn-primary" style="width: 100px; margin-top: 12px;">Log in</button><br>
        </form>
        <!-- <a href="/render_register">register</a>
        <a href="/">home</a> -->
    </center>    
</body>
<!-- <script src="Mproject.js"></script> -->
</html>