<%- include("./components/header.ejs") %>
<%- include("./components/style.ejs") %>
<body>
    <%- include("./components/nav.ejs") %>
    <center>
        <h1 class="start">Welcome to Liel and Sahar's Cinema</h1>
        <h2 class="start">Please register to continue</h2>
        <form action="/register" method="post">
            <% if (err!= false){%>
                <h1 color="red"> <%= err %> </h1>
            <%}%>
            <label class="form-label">name:</label><br>
            <input type="text" name="reg_username" class="Username" placeholder="YOUR NAME"><br>
            <label class="form-label">password:</label><br>
            <input type="password" name="reg_password" class="Password" placeholder="YOUR Password"><br>
            <label class="form-label">confirm password:</label><br>
            <input type="password" name="confirm_password" class="Confirm_Password" placeholder="CONFIRM Password"><br>
            <div class="radio-container">
                <input type="radio" id="user" name="picked" value= "false" checked >
                <label for="user">User</label>
                <input type="radio" id="admin" name="picked" value="true">
                <label for="admin">Admin</label>
            </div><br>
            <button type="submit" class="btn btn-primary" style="width: 100px; margin-top: 12px;">Register</button><br>
            
        </form>
      </center>   
</body>
<!-- <script src="Mproject.js"></script> -->
</html>