<%- include("./components/header.ejs") %>
<%- include("./components/style.ejs") %>
<body>
    <nav class="navbar">
        <a class="navbar-brand" href="/">Cinema</a>
        <input type="checkbox" id="toggler">
        <label for="toggler"><i class="ri-menu-line"></i></label>
        <div class="menu">
            <ul class="list">
                <li><a href="/">Home</a></li>
                <li><a href="/render_Log_in">Log in</a></li>
                <li><a href="#">stam</a></li>
            </ul>
        </div>
    </nav>
    <center>
        <h1 class="start">Welcome to Liel and Sahar's Cinema</h1>
        <h2 class="start">Please register to continue</h2>
        <form action="/register" method="post">
            <label class="form-label">name:</label><br>
            <input type="text" name="reg_username" class="Username" placeholder="YOUR NAME"><br>
            <label class="form-label">password:</label><br>
            <input type="password" name="reg_password" class="Password" placeholder="YOUR Password"><br>
            <label class="form-label">confirm password:</label><br>
            <input type="password" name="confirm_password" class="Confirm_Password" placeholder="CONFIRM Password"><br>
            <div class="radio-container">
                <input type="radio" id="user" name="picked" value= "false" checked >
                <label for="user">User</label>
                <input type="radio" id="admin" name="picked" value="true">
                <label for="admin">Admin</label>
            </div><br>
            <button type="submit" class="btn btn-primary" style="width: 100px; margin-top: 12px;">Register</button><br>
            
        </form>
        <a href="/render_Log_in">Login</a>
      </center>   
</body>
<!-- <script src="Mproject.js"></script> -->
</html>