<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Project.css">
    <title>Register</title>
</head>
<body>
    <center>
        <h1 class="start">Welcome to Liel and Sahar's Cinema</h1>
        <h2 class="start">Please register to continue</h2>
        <form action="/register" method="POST"></form>
            <input type="text" name="reg_username" placeholder="Username" required>
            <br><br>
            <input type="password" name="reg_password" placeholder="Password" required>
            <br><br>
            <input type="password" name="confirm_password" placeholder="Confirm Password" required>
            <div class="radio-container">
                <input type="radio" id="user" name="picked" value="false">
                <label for="user">User</label>
                <input type="radio" id="admin" name="picked" value="true">
                <label for="admin">Admin</label>
            </div>
            <br>
            <input type="submit" value="Register" onclick="register()" >
            <br>
        </form>
        <a href="log_in.html">Login</a>
      </center>   
</body>
<script src="Mproject.js"></script>
</html>